@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Licorice&family=Moon+Dance&family=The+Nautigal:wght@400;700&family=Vujahday+Script&display=swap');

body {
  margin: 0;
  font-family: 'Moon Dance','Amatic SC','Licorice',Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8bf7de8;
  color: rgb(67, 73, 24);
  font-weight: 500;
  font-size:2rem;
}

